/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

 .right.map-layer:hover, .right.map-search:hover {
  background-color: rgba(0,0,0,.1);
}

 #map {
  width: 100%; 
  height: calc(100vh - 64px); 
  position: relative; 
  outline: none;
  cursor:crosshair;
 }

 #map.grabbing {
	cursor: grabbing !important;
 }

 article ul{
  padding-left: 2em !important;
}

 article li{
  list-style-type: disc !important;
}

article img {
  max-width: 100%;
}

.in-iframe {
  overflow: hidden;
}

.in-iframe .iframe-hidden, .in-iframe .leaflet-routing-container {
  display: none !important;
}


.static .iframe-hidden, .static .navbar-fixed, .static footer, 
.static .leaflet-control, .static header, .static article article, 
.static .reklamowka_header_footer, .static .pierwszy_raz, .static article .container, .static>.container-fluid,
.static .fc-consent-root .fc-dialog-overlay,.static .fc-consent-root .fc-help-dialog-overlay,.static .fc-consent-root .fc-dialog  {
    display: none !important;
    visibility: hidden !important;
  }
  .static #map {
    height: 100vh;
  } 

  .static {
    overflow: hidden;
  }


article {
  font-size: 1.3rem;
}

.post-cover {
  width: 100%;
}

.post-title {
  font-size: 2.9rem;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.dropdown ul {
  display: none;
}

.intro-header {
  padding: 0;
}

.intro-header h1{
  font-size: 4vmax;
}

h2 {
font-size: 2rem;
}

h3,h4 {
  font-size: 1.6rem;
}

.pierwszy_raz {
  display: none;
}

.intro-header.background-image {
  background-size: cover;
  text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
}

.footer-copyright a{
  color: #ffcc80 !important;
}

#footer-links a{
  color: #fff;
}

#poi-panel h1 {
  font-size: 2rem;
}

.sidenav .user-view .background img{
  width: 100%;
}

.sidenav-text {
  padding: 16px;
}

.sidenav-text p{
  line-height: 1em;
}


.sidenav li li {
  line-height: 1.5em;
}

.sidenav label {
  font-size: inherit;
  display: flex;
  align-items: center;
  line-height: 1.3em;
  margin: 20px 0;
}


#poi-panel__extract {
word-break: break-word;
}

#poi-panel__extract li {
line-height: 1.2em;
}


@media only screen and (max-width: 600px) {
  nav .brand-logo {
    display: inline-flex;
    align-items: center;
    height: 100%;
    left: 30%;
    transform: translateX(-50%);
    line-height: 1rem;
    font-size: 1rem;
}
}